/* TaskList.css */

table {
    display:flexbox ;
    offset-distance: 1px;
    min-height: 10px;
    width: 100%;
    border-collapse:separate;
    border-bottom: solid 2px black;
    margin-top: 10px;
  }
  
  th, td {
    padding: 5px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr.completed {
    background-color: #e0f7fa;
  }
  
  .icons {
    cursor: pointer;
    margin: 0 5px;
  }
  
  @media (max-width: 768px) {
    th, td {
      font-size: 14px;
      padding: 8px;
    }
  }
  